@model Patrimonio.Models.DbFornecedor

@{
     Layout = "_layoutFornecedor";
    ViewData["Fornecedor"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DbFornecedor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomefornecedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomefornecedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
