@model Patrimonio.Models.DtoPatrimonio

@{
     Layout = "_LayoutPatrimonio";
    ViewData["Patrimonios"] = "Delete";
}
<h1>Deletar</h1>

<h3>Voce deseja deletar realmente?</h3>
<div>
    <hr />
    <dl class="row">
         <dt class = "col-sm-2">
          Nome do patrimonio  
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomepatrimonio)
        </dd>
        <dt class = "col-sm-2">
         Número da etiqueta 
        </dt>
        <dd class = "col-sm-10">
           @Html.DisplayFor(model => model.numeetiqueta)
        </dd>
        <dt class = "col-sm-2">
           Descrição do patrimonio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descricaopatrimonio)
        </dd>
        <dt class = "col-sm-2">
           Valor do patrimonio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valorpatrimonio)
        </dd>
        <dt class = "col-sm-2">
           Categoria
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomecategoria)
        </dd>
        <dt class = "col-sm-2">
           Local
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomelocal)
        </dd>
         <dt class = "col-sm-2">
            Fornecedor
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomefornecedor)
        </dd>
        <dt class = "col-sm-2">
           Marca ou Modelo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.marcamodelo)
        </dd>
        <dt class = "col-sm-2">
           Situação
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.situacao)
        </dd>
        <dt class = "col-sm-2">
           Número de serie
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numserie)
        </dd>
         <dt class = "col-sm-2">
            Número
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numf)
        </dd>
        <dt class = "col-sm-2">
          Data aquisição
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataaquisicao)
        </dd>
        <dt class = "col-sm-2">
           Data da baixa
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.databaixa)
        </dd>
        <dt class = "col-sm-2">
          Data garantia
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datagarantia)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> 
       
    </form>
    <div>
    <a asp-action="Index"> <input type="submit" value="Volta pra a lista" class="btn btn-primary " ></a>
</div>
</div>
